	<!-- jQuery -->
		<script src="/stylesheets/assets/js/jquery-3.5.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="/stylesheets/assets/js/popper.min.js"></script>
		<script src="/stylesheets/assets/js/bootstrap.min.js"></script>
		
		<!-- Feather Icon JS -->
		<script src="/stylesheets/assets/js/feather.min.js"></script>
		
		<!-- Slimscroll JS -->
		<script src="/stylesheets/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<!-- Chart JS -->
		<script src="/stylesheets/assets/plugins/apexchart/apexcharts.min.js"></script>
		<script src="/stylesheets/assets/plugins/apexchart/chart-data.js"></script>
		
		<!-- Custom JS -->
		<script src="/stylesheets/assets/js/script.js"></script>

		<!-- Datatables JS -->
		<script src="/stylesheets/assets/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="/stylesheets/assets/plugins/datatables/datatables.min.js"></script>

        	</body>
</html>