<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>RCCG Resorts </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="/images/img/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
         <!-- Fontawesome CSS -->
    <link

    
      rel="stylesheet"
      href="/stylesheets/assets/plugins/fontawesome/css/fontawesome.min.css"
    />
        <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/css/animate.min.css">
        <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css">
        <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="/stylesheets/css/dripicons.css">
        <link rel="stylesheet" href="/stylesheets/css/slick.css">
        <link rel="stylesheet" href="/stylesheets/css/meanmenu.css">
        <link rel="stylesheet" href="/stylesheets/css/default.css">
        <link rel="stylesheet" href="/stylesheets/css/style.css">
        <!-- <link rel="stylesheet" href="/stylesheets/assets/css/style.css"> -->

        <link rel="stylesheet" href="/stylesheets/css/responsive.css">
        <style>


  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #343434;
    background-color: #fefbfb;  
  }

  .x{
  
   color: #644222;
}
.box:hover {
  background-color: black;
}
.box:hover i {
  color: white;
}
.user-image {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.user-image img {
    max-width: 100px;
    height: auto;
}



        </style>
    </head>